<?xml version="1.0" encoding="UTF-8"?>
<web-app id="reader"
  xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
  version="3.0"> 
  <display-name>Reader</display-name>
  
  <!-- This filter is used to process a couple things in the request context -->
  <filter>
    <filter-name>requestContextFilter</filter-name>
    <filter-class>com.sismics.util.filter.RequestContextFilter</filter-class>
  </filter>
  
  <filter-mapping>
    <filter-name>requestContextFilter</filter-name>
    <url-pattern>/api/*</url-pattern>
    <url-pattern>*.jsp</url-pattern>
  </filter-mapping>

  <!-- This filter is used to secure URLs -->
  <filter>
    <filter-name>tokenBasedSecurityFilter</filter-name>
    <filter-class>com.sismics.util.filter.TokenBasedSecurityFilter</filter-class>
  </filter>
  
  <filter-mapping>
    <filter-name>tokenBasedSecurityFilter</filter-name>
    <url-pattern>/api/*</url-pattern>
  </filter-mapping>
  
  <!-- Jersey -->
  <servlet>
		<servlet-name>com.sismics.music.application.Application</servlet-name>
	</servlet>
	<servlet-mapping>
		<servlet-name>com.sismics.music.application.Application</servlet-name>
		<url-pattern>/api/*</url-pattern>
	</servlet-mapping>
</web-app>
