<div class="row">
  <div class="col-md-12">
    <h3>
      Add imported music <small>to my collection</small>
      <button class="btn btn-default pull-right" ng-click="refresh()" title="Refresh">
        <span class="glyphicon glyphicon-refresh"></span>
      </button>
    </h3>

    <form name="tagForm">
      <table class="table" ng-show="files.length > 0">
        <tr>
          <th style="width: 22%;">Album artist</th>
          <th style="width: 22%;">Album</th>
          <th style="width: 22%;">Artist</th>
          <th style="width: 24%;">Title</th>
          <th style="width: 5%;"></th>
          <th style="width: 5%;"></th>
        </tr>
        <tr ng-repeat-start="file in files">
          <td colspan="6">{{ file.file }}</td>
        </tr>
        <tr ng-repeat-end>
          <td>
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Album artist" ng-model="file.album_artist" />
              <span class="input-group-btn">
                <button class="btn btn-default" type="button" ng-click="copyMetadata('album_artist', file)" ng-if="$first">
                  <span class="glyphicon glyphicon-share-alt"></span>
                </button>
              </span>
            </div>
          </td>
          <td>
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Album" ng-model="file.album" />
              <span class="input-group-btn">
                <button class="btn btn-default" type="button" ng-click="copyMetadata('album', file)" ng-if="$first">
                  <span class="glyphicon glyphicon-share-alt"></span>
                </button>
              </span>
            </div>
          </td>
          <td>
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Artist" ng-model="file.artist" />
              <span class="input-group-btn">
                <button class="btn btn-default" type="button" ng-click="copyMetadata('artist', file)" ng-if="$first">
                  <span class="glyphicon glyphicon-share-alt"></span>
                </button>
              </span>
            </div>
          </td>
          <td>
            <input type="text" class="form-control" placeholder="Title" ng-model="file.title" />
          </td>
          <td>
            <button class="btn btn-default" ng-click="moveFile(file)">
              <span class="glyphicon glyphicon-ok"></span>
            </button>
          </td>
          <td>
            <button class="btn btn-default" ng-click="deleteFile(file)">
              <span class="glyphicon glyphicon-remove"></span>
            </button>
          </td>
        </tr>
      </table>
    </form>
    <p class="text-center" ng-show="files.length == 0">
      No imported files
    </p>
  </div>
</div>
