<div class="row">
  <div class="col-md-12">
    <h3>
      Import URLs <small>from external sites</small>
      <div class="btn-group pull-right">
        <button class="btn btn-default" ng-click="cleanup()" title="Cleanup imported files">
          <span class="glyphicon glyphicon-trash"></span>
        </button>
        <button class="btn btn-default" ng-click="refresh()" title="Refresh">
          <span class="glyphicon glyphicon-refresh"></span>
        </button>
      </div>
    </h3>

    <div ng-show="dependencies">
      <p ng-show="dependencies['youtube-dl']" class="text-success"><a href="http://rg3.github.io/youtube-dl/">youtube-dl ({{ dependencies['youtube-dl'] }})</a> is installed on your system</p>
      <p ng-show="!dependencies['youtube-dl']" class="text-danger">
        <a href="http://rg3.github.io/youtube-dl/">youtube-dl</a> is <strong>not</strong> installed on your system<br />
        See <a href="http://rg3.github.io/youtube-dl/download.html">http://rg3.github.io/youtube-dl/download.html</a> to download and install it
      </p>

      <p ng-show="dependencies['ffmpeg']" class="text-success"><a href="https://www.ffmpeg.org/">ffmpeg ({{ dependencies['ffmpeg'] }})</a> is installed on your system</p>
      <p ng-show="!dependencies['ffmpeg']" class="text-danger">
        <a href="https://www.ffmpeg.org/">ffmpeg</a> is <strong>not</strong> installed on your system<br />
        See <a href="https://www.ffmpeg.org/download.html">https://www.ffmpeg.org/download.html</a> to download and install it
      </p>
    </div>
    <p ng-show="!dependencies"><em>Checking dependencies...</em></p>
    <p>Enter one URL by line. See <a href="http://rg3.github.io/youtube-dl/supportedsites.html">http://rg3.github.io/youtube-dl/supportedsites.html</a> for supported sites.</p>

    <form role="form" name="importForm" novalidate class="form-horizontal" ng-click="importForm.submitted = true">
      <div class="form-group" ng-class="{ 'has-error': !importForm.url.$valid && importForm.submitted }">
        <label for="inputUrl" class="col-sm-2 control-label">URLs to import</label>
        <div class="col-sm-10">
          <textarea class="form-control" name="url" id="inputUrl" rows="4" wrap="off" required ng-model="import.url"
                    placeholder="One URL by line"></textarea>
        </div>
      </div>
      <div class="form-group">
        <label for="inputQuality" class="col-sm-2 control-label">Quality</label>
        <div class="col-sm-3">
          <select name="quality" id="inputQuality" class="form-control" ng-model="import.quality">
            <option value="128K">128 kbps</option>
            <option value="192K">192 kbps</option>
            <option value="256K">256 kbps</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label for="inputFormat" class="col-sm-2 control-label">Format</label>
        <div class="col-sm-3">
          <select name="format" id="inputFormat" class="form-control" ng-model="import.format">
            <option value="mp3">MP3</option>
            <option value="aac">AAC</option>
            <option value="vorbis">Vorbis</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-primary"
                  ng-click="startImport()"
                  ng-disabled="!importForm.$valid">Import</button>
        </div>
      </div>
    </form>

    <table class="table" ng-show="imports.length > 0">
      <tr>
        <th>URL</th>
        <th>Progress</th>
        <th>Speed</th>
        <th>Total size</th>
        <th>Message</th>
      </tr>
      <tr ng-repeat="import in imports"
          ng-class="{ 'success': import.status == 'DONE', 'danger': import.status == 'ERROR', 'info': import.status == 'INPROGRESS' }">
        <td>{{ import.url }}</td>
        <td><span ng-show="import.progress">{{ import.progress | number: 0 }}%</span></td>
        <td>{{ import.speed }}</td>
        <td>{{ import.total_size }}</td>
        <td>
          <span class="btn btn-link" ng-click="import.show = true" ng-show="!import.show">Click to show</span>
          <pre ng-click="import.show = false" ng-show="import.show">{{ import.message }}</pre>

          <button class="btn btn-default" ng-show="import.status == 'ERROR'" ng-click="retryImport(import)">
            <span class="glyphicon glyphicon-repeat"></span>
            Retry
          </button>

          <button class="btn btn-default" ng-show="import.status == 'INPROGRESS'" ng-click="killImport(import)">
            <span class="glyphicon glyphicon-ban-circle"></span>
            Stop
          </button>
        </td>
      </tr>
    </table>
    <p class="text-center" ng-show="imports.length == 0">
      No import in progress
    </p>
  </div>
</div>
