<div class="row">
  <div class="col-md-12">
    <h3>
      Add imported music <small>to my collection</small>
      <button class="btn btn-default pull-right" ng-click="refresh()">
        <span class="glyphicon glyphicon-refresh"></span>
      </button>
    </h3>

    <form name="tagForm">
      <table class="table" ng-show="files.length > 0">
        <tr>
          <th>File</th>
          <th>Artist</th>
          <th>Album</th>
          <th>Title</th>
          <th></th>
          <th></th>
        </tr>
        <tr ng-repeat="file in files">
          <td>{{ file.file }}</td>
          <td><input type="text" class="form-control" placeholder="Artist" ng-model="file.artist" /></td>
          <td><input type="text" class="form-control" placeholder="Album" ng-model="file.album" /></td>
          <td><input type="text" class="form-control" placeholder="Title" ng-model="file.title" /></td>
          <td>
            <button class="btn btn-default" ng-click="moveFile(file)">
              <span class="glyphicon glyphicon-ok"></span>
            </button>
          </td>
          <td>
            <button class="btn btn-default" ng-click="deleteFile(file)">
              <span class="glyphicon glyphicon-remove"></span>
            </button>
          </td>
        </tr>
      </table>
    </form>
    <p class="text-center" ng-show="files.length == 0">
      No imported files
    </p>
  </div>
</div>
