<div class="panel panel-default" ng-show="album">
  <div class="panel-body">
    <div class="page-header">
      <h1><span class="text-muted"><a ng-href="#/artist/{{ album.artist.id }}">{{ album.artist.name }}</a></span> {{ album.name }}<br /><small>played {{ album.play_count }} times</small></h1>
    </div>

    <div class="btn-toolbar" role="toolbar">
      <button class="btn btn-link" ng-click="playAllTracks()"><span class="glyphicon glyphicon-play"></span> Play all</button>
      <button class="btn btn-link" ng-click="shuffleAllTracks()"><span class="glyphicon glyphicon-random"></span> Shuffle</button>
      <button class="btn btn-link" ng-click="addAllTracks()"><span class="glyphicon glyphicon-plus"></span> Add all</button>
      <button class="btn btn-link" ng-click="editTags()"><span class="glyphicon glyphicon-pencil"></span> Edit tags</button>
      <div class="dropdown" dropdown>
        <button class="btn btn-link dropdown-toggle" dropdown-toggle>
          <span class="glyphicon glyphicon-plus"></span> Add to playlist
        </button>
        <playlist-dropdown tracks="album.tracks"></playlist-dropdown>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8">
        <table class="table table-striped table-tracks">
          <thead>
          <tr>
            <th style="width: 6%;" class="col-md-1"></th>
            <th style="width: 6%;" class="col-md-1"></th>
            <th style="width: 8%;">#</th>
            <th>Title</th>
            <th style="width: 13%;"><span class="glyphicon glyphicon-time"></span></th>
            <th style="width: 6%;"></th>
            <th style="width: 6%;"></th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="track in album.tracks">
            <td><span class="play glyphicon glyphicon-play btn-pointer" ng-click="playTrack(track)"></span></td>
            <td><span class="add glyphicon glyphicon-plus btn-pointer" ng-click="addTrack(track)"></span></td>
            <td>{{ track.order }}</td>
            <td title="{{ track.title }}">{{ track.title }} <span ng-if="track.artist.id != album.artist.id">({{ track.artist.name }})</span></td>
            <td title="Played {{ track.play_count }} times">{{ track.length | duration }}</td>
            <td class="overflow-allowed">
              <div class="dropdown" dropdown>
                <a href dropdown-toggle>
                  <span class="glyphicon glyphicon-option-vertical"></span>
                </a>
                <playlist-dropdown tracks="[ track ]"></playlist-dropdown>
              </div>
            </td>
            <td>
              <span class="glyphicon btn-pointer btn-like" title="{{ track.liked ? 'Loved' : '' }}" ng-click="toggleLikeTrack(track)"
                    ng-class="{ 'glyphicon-heart': track.liked, 'glyphicon-heart-empty': !track.liked }"></span>
            </td>
          </tr>
          </tbody>
        </table>
      </div>

      <div class="col-md-4">
        <img class="btn-pointer" ng-if="album.albumart" ng-click="zoomAlbumArt()"
              ng-src="../api/album/{{ album.id }}/albumart/medium" style="width: 100%;" />
        <div class="pull-right">
          <a ng-href="#/album/{{ album.id }}/albumart">Change album art</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="big-loader-container row" ng-show="!album">
  <div class="big-loader">
  </div>
</div>