<div class="row">
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="list-group">
        <a class="list-group-item" ng-class="{ active: $uiRoute }" ui-route="/playing" href="#/playing">Now playing</a>
        <a class="list-group-item"
           ng-class="{ active: $uiRoute || $state.current.name == 'main.album' || $state.current.name == 'main.search' || $state.current.name == 'main.albumart' }"
           ui-route="/music/.*" href="#/music/albums/:">
          My music
        </a>
        <a class="list-group-item" ng-class="{ active: $uiRoute }" ui-route="/add/.*" href="#/add/upload">Add music</a>
      </div>
    </div>

    <ul class="nav nav-pills nav-stacked">
      <li><a href="#/music/albums/:latest">Latest albums</a></li>
      <li><a href="#/music/albums/:">Favorite albums</a></li>
    </ul>
  </div>

  <div class="col-md-9">
    <div ui-view="content"></div>
  </div>
</div>