<div class="row" id="music-albums-container" ng-style="{ 'min-height': cacheHeight + 'px' }">
  <div class="col-sm-12 search-form">
    <form role="form" class="form-inline">
      <div class="form-group has-feedback">
        <label class="control-label sr-only" for="inputFilter">Filter</label>
        <input type="text" id="inputFilter" class="form-control" style="width: 704px" ng-model="filter" placeholder="Filter" />
        <span ng-show="filter != ''" ng-click="filter = ''" class="glyphicon glyphicon-remove form-control-feedback btn-pointer"></span>
      </div>

      <div class="form-group">
        <select class="form-control" ng-model="order">
          <option value="alpha">Alphabetical</option>
          <option value="latest">Latest first</option>
          <option value="playcount">Play count</option>
        </select>
      </div>
    </form>
  </div>

  <div class="col-sm-12 album-list" infinite-scroll="loadMore()" infinite-scroll-distance="1" ng-show="total > 0">
    <div class="col-sm-6 col-md-3" bo-id="'album-' + album.id" bindonce ng-repeat="album in albums">
      <div class="thumbnail albumart-thumbnail">
        <div class="img-container">
          <a bo-href="'#/album/' + album.id">
            <img bo-if="album.albumart" bo-src="'../api/album/' + album.id + '/albumart/small'" />
            <img bo-if="!album.albumart" bo-src="'img/albumart.png'" />
          </a>
          <div class="play-overlay btn-pointer glyphicon glyphicon-play-circle" ng-click="playAlbum(album);"></div>
        </div>
        <div class="caption">
          <div class="caption-container">
            <div>
              <a class="text-muted" bo-href="'#/artist/' + album.artist.id" bo-text="album.artist.name"></a>
            </div>
            <div>
              <a bo-href="'#/album/' + album.id" bo-text="album.name"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<p ng-show="loaded && total == 0" class="text-center">
  <span class="glyphicon glyphicon-exclamation-sign"></span>
  <span ng-if="filter != ''">No album for "{{ filter }}"</span>
  <span ng-if="filter == ''">Music library empty</span>
</p>

<div class="big-loader-container row" ng-show="!loaded">
  <div class="big-loader">
  </div>
</div>