<div class="row" ng-show="allArtists.length > 0">
  <div class="col-sm-12 search-form">
    <form role="form">
      <div class="form-group has-feedback">
        <label class="control-label sr-only" for="inputFilter">Filter</label>
        <input type="text" id="inputFilter" class="form-control" ng-model="filter" placeholder="Filter" />
        <span ng-show="filter != ''" ng-click="filter = ''" class="glyphicon glyphicon-remove form-control-feedback btn-pointer"></span>
      </div>
    </form>
  </div>

  <div class="col-sm-12" infinite-scroll="loadMore()" infinite-scroll-distance="1">
    <div class="col-sm-6 col-md-3" bindonce ng-repeat="artist in artists">
      <a class="thumbnail albumart-thumbnail" bo-href="'#/artist/' + artist.id">
        <div class="img-container">
          <img bo-src="'../api/artist/' + artist.id + '/artistart/small'" />
        </div>
        <div class="caption">
          <div class="caption-container">
            <div bo-text="artist.name"></div>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>

<p ng-show="allArtists.length == 0" class="text-center">
  Music library empty
</p>