<div class="row">
  <div class="col-sm-12 search-form">
    <form role="form" class="form-inline">
      <div class="form-group has-feedback">
        <label class="control-label sr-only" for="inputFilter">Filter</label>
        <input type="text" id="inputFilter" class="form-control" style="width: 836px" ng-model="filter" placeholder="Filter" />
        <span ng-show="filter != ''" ng-click="filter = ''" class="glyphicon glyphicon-remove form-control-feedback btn-pointer"></span>
      </div>
    </form>
  </div>

  <div class="col-sm-12" infinite-scroll="loadMore()" infinite-scroll-distance="1" ng-show="total > 0">
    <div class="col-sm-6 col-md-3" bindonce ng-repeat="artist in artists">
      <div class="thumbnail albumart-thumbnail">
        <div class="img-container">
          <a bo-href="'#/artist/' + artist.id">
            <img bo-src="'img/albumart.png'" />
            <img bo-src="'../api/artist/' + artist.id + '/artistart/small'" />
          </a>
        </div>
        <div class="caption">
          <div class="caption-container">
            <div>
              <a bo-href="'#/artist/' + artist.id" bo-text="artist.name"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<p ng-show="loaded && total == 0" class="text-center">
  <span class="glyphicon glyphicon-exclamation-sign"></span>
  <span ng-if="filter != ''">No artist for "{{ filter }}"</span>
  <span ng-if="filter == ''">Music library empty</span>
</p>

<div class="big-loader-container row" ng-show="!loaded">
  <div class="big-loader">
  </div>
</div>