<div class="search-results" ng-show="results">
  <div class="albums" ng-show="results.albums.length > 0">
    <h3>Albums</h3>
    <div class="col-sm-12">
      <div class="col-sm-6 col-md-3" bindonce ng-repeat="album in results.albums">
        <div class="thumbnail albumart-thumbnail">
          <div class="img-container">
            <a bo-href="'#/album/' + album.id">
              <img bo-if="album.albumart" bo-src="'../api/album/' + album.id + '/albumart/small'" />
              <img bo-if="!album.albumart" bo-src="'img/albumart.png'" />
            </a>
            <div class="play-overlay btn-pointer glyphicon glyphicon-play-circle" ng-click="playAlbum(album);"></div>
          </div>
          <div class="caption">
            <div class="caption-container">
              <div>
                <a class="text-muted" bo-href="'#/artist/' + album.artist.id" bo-text="album.artist.name"></a>
              </div>
              <div>
                <a bo-href="'#/album/' + album.id" bo-text="album.name"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="artists" ng-show="results.artists.length > 0">
    <h3>Artists</h3>
    <div class="col-sm-12">
      <div class="col-sm-6 col-md-3" bindonce ng-repeat="artist in results.artists">
        <div class="thumbnail albumart-thumbnail">
          <div class="img-container">
            <a bo-href="'#/artist/' + artist.id">
              <img bo-src="'img/albumart.png'" />
              <img bo-src="'../api/artist/' + artist.id + '/artistart/small'" />
            </a>
          </div>
          <div class="caption">
            <div class="caption-container">
              <div>
                <a bo-href="'#/artist/' + artist.id" bo-text="artist.name"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="tracks" ng-show="results.tracks.length > 0">
    <h3>Tracks</h3>

    <div class="btn-toolbar" role="toolbar">
      <button class="btn btn-link" ng-click="playAllTracks()"><span class="glyphicon glyphicon-play"></span> Play all</button>
      <button class="btn btn-link" ng-click="shuffleAllTracks()"><span class="glyphicon glyphicon-random"></span> Shuffle</button>
      <button class="btn btn-link" ng-click="addAllTracks()"><span class="glyphicon glyphicon-plus"></span> Add all</button>
      <div class="dropdown" dropdown>
        <button class="btn btn-link dropdown-toggle" dropdown-toggle>
          <span class="glyphicon glyphicon-plus"></span> Add to playlist
        </button>
        <playlist-dropdown tracks="results.tracks"></playlist-dropdown>
      </div>
    </div>

    <table class="table table-striped table-tracks">
      <thead>
      <tr>
        <th style="width: 4%;" class="col-md-1"></th>
        <th style="width: 4%;" class="col-md-1"></th>
        <th>Title</th>
        <th>Artist</th>
        <th>Album</th>
        <th style="width: 7%"><span class="glyphicon glyphicon-time"></span></th>
        <th style="width: 4%;"></th>
        <th style="width: 4%;"></th>
      </tr>
      </thead>
      <tbody>
      <tr bindonce ng-repeat="track in results.tracks">
        <td><span class="play glyphicon glyphicon-play btn-pointer" ng-click="playTrack(track)"></span></td>
        <td><span class="add glyphicon glyphicon-plus btn-pointer" ng-click="addTrack(track)"></span></td>
        <td bo-title="track.title" bo-text="track.title"></td>
        <td bo-title="track.artist.name"><a bo-href="'#/artist/' + track.artist.id" bo-text="track.artist.name"></a></td>
        <td bo-title="track.album.name"><a bo-href="'#/album/' + track.album.id" bo-text="track.album.name"></a></td>
        <td bo-text="track.length | duration"></td>
        <td class="overflow-allowed">
          <div class="dropdown" dropdown>
            <a href dropdown-toggle>
              <span class="glyphicon glyphicon-option-vertical"></span>
            </a>
            <playlist-dropdown tracks="[ track ]"></playlist-dropdown>
          </div>
        </td>
        <td>
          <span class="glyphicon btn-pointer btn-like" title="{{ track.liked ? 'Loved' : '' }}" ng-click="toggleLikeTrack(track)"
                ng-class="{ 'glyphicon-heart': track.liked, 'glyphicon-heart-empty': !track.liked }"></span>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <p class="lead text-center" ng-show="results.tracks.length == 0 && results.albums.length == 0 && results.artists.length == 0">
    <span class="glyphicon glyphicon-exclamation-sign"></span>
    No results found
  </p>
</div>

<div class="big-loader-container row" ng-show="!results">
  <div class="big-loader">
  </div>
</div>