<div class="search-results" ng-show="results">
  <div class="albums" ng-show="results.albums">
    <h3>Albums</h3>
    <div class="col-sm-12">
      <div class="col-sm-6 col-md-3" bindonce ng-repeat="album in results.albums">
        <a class="thumbnail albumart-thumbnail" bo-href="'#/album/' + album.id">
          <div class="img-container">
            <img bo-if="album.albumart" bo-src="'../api/album/' + album.id + '/albumart/small'" />
          </div>
          <div class="caption">
            <div class="caption-container">
              <div class="text-muted" bo-text="album.artist.name"></div>
              <div bo-text="album.name"></div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>

  <div class="artists" ng-show="results.artists">
    <h3>Artists</h3>
    <div class="col-sm-12">
      <div class="col-sm-6 col-md-3" bindonce ng-repeat="artist in results.artists">
        <a class="thumbnail albumart-thumbnail" bo-href="'#/artist/' + artist.id">
          <div class="img-container">
            <img bo-src="'../api/artist/' + artist.id + '/artistart/small'" />
          </div>
          <div class="caption">
            <div class="caption-container">
              <div bo-text="artist.name"></div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>

  <div class="tracks" ng-show="results.tracks">
    <h3>Tracks</h3>
    <table class="table table-striped table-tracks">
      <thead>
      <tr>
        <th style="width: 4%;" class="col-md-1"></th>
        <th style="width: 4%;" class="col-md-1"></th>
        <th>Title</th>
        <th>Artist</th>
        <th>Album</th>
        <th style="width: 7%"><span class="glyphicon glyphicon-time"></span></th>
        <th style="width: 4%;"></th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="track in results.tracks">
        <td><span class="glyphicon glyphicon-play btn-pointer" ng-click="playTrack(track)"></span></td>
        <td><span class="glyphicon glyphicon-plus btn-pointer" ng-click="addTrack(track)"></span></td>
        <td title="{{ track.title }}">{{ track.title }}</td>
        <td title="{{ track.artist.name }}">{{ track.artist.name }}</td>
        <td title="{{ track.album.name }}"><a ng-href="#/album/{{ track.album.id }}">{{ track.album.name }}</a></td>
        <td>{{ track.length | duration }}</td>
        <td>
          <span class="glyphicon btn-pointer btn-like" title="{{ track.liked ? 'Loved' : '' }}" ng-click="toggleLikeTrack(track)"
                ng-class="{ 'glyphicon-heart': track.liked, 'glyphicon-heart-empty': !track.liked }"></span>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="big-loader-container row" ng-show="!results">
  <div class="big-loader">
  </div>
</div>