<div class="panel panel-default">
  <div class="panel-body">
    <div class="page-header">
      <h1><span class="text-muted">{{ album.artist.name }}</span> {{ album.name }} <small></small></h1>
    </div>

    <ul class="nav nav-pills">
      <li><a href="#"><span class="glyphicon glyphicon-play"></span> Play all</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-random"></span> Shuffle</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-plus"></span> Add all</a></li>
    </ul>

    <div class="row">
      <div class="col-md-7">
        <table class="table table-striped">
          <thead>
          <tr>
            <th class="col-md-1"></th>
            <th class="col-md-1"></th>
            <th>#</th>
            <th>Title</th>
            <th>Length</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="track in album.tracks">
            <td><span class="glyphicon glyphicon-play" ng-click="playTrack(track)"></span></td>
            <td><span class="glyphicon glyphicon-plus" ng-click="addTrack(track)"></span></td>
            <td>{{ track.order }}</td>
            <td>{{ track.title }}</td>
            <td>{{ track.length | duration }}</td>
          </tr>
          </tbody>
        </table>
      </div>

      <div class="col-md-5">
        <img src="http://placehold.it/330x330" style="width: 100%;" />
      </div>
    </div>
  </div>
</div>