<div class="panel panel-default">
  <div class="panel-body">
    <div class="page-header">
      <h1><span class="text-muted">{{ album.artist.name }}</span> {{ album.name }} <small></small></h1>
    </div>

    <div class="btn-toolbar" role="toolbar">
      <button class="btn btn-link" ng-click="playAllTracks()"><span class="glyphicon glyphicon-play"></span> Play all</button>
      <button class="btn btn-link" ng-click="shuffleAllTracks()"><span class="glyphicon glyphicon-random"></span> Shuffle</button>
      <button class="btn btn-link" ng-click="addAllTracks()"><span class="glyphicon glyphicon-plus"></span> Add all</button>
    </div>

    <div class="row">
      <div class="col-md-7">
        <table class="table table-striped">
          <thead>
          <tr>
            <th class="col-md-1"></th>
            <th class="col-md-1"></th>
            <th>#</th>
            <th>Title</th>
            <th><span class="glyphicon glyphicon-time"></span></th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="track in album.tracks">
            <td><span class="glyphicon glyphicon-play" ng-click="playTrack(track)"></span></td>
            <td><span class="glyphicon glyphicon-plus" ng-click="addTrack(track)"></span></td>
            <td>{{ track.order }}</td>
            <td>{{ track.title }}</td>
            <td>{{ track.length | duration }}</td>
            <td>
              <span class="glyphicon btn-like" ng-click="toggleLikeTrack(track)"
                    ng-class="{ 'glyphicon-heart': track.liked, 'glyphicon-heart-empty': !track.liked }"></span>
            </td>
          </tr>
          </tbody>
        </table>
      </div>

      <div class="col-md-5">
        <img ng-if="album.albumart" ng-click="zoomAlbumArt()" ng-src="api/album/{{ album.id }}/albumart/large" style="width: 100%;" />
        <div class="pull-right">
          <a ng-href="#/album/{{ album.id }}/albumart">Change album art</a>
        </div>
      </div>
    </div>
  </div>
</div>