<div class="row">

  <div class="col-md-1 text-right btn-play">
    <button type="button" class="btn btn-primary" ng-click="playpause()">
      <span class="glyphicon" ng-class="{ 'glyphicon-play': audio.paused, 'glyphicon-pause': !audio.paused }"></span>
    </button>
  </div>

  <div class="col-md-7 now-playing">
    <div ng-show="track">
      <span class="text-muted">{{ track.artist.name }}</span> {{ track.title }}
      <div class="progress" ng-click="seek($event)">
        <progressbar value="timeProgress()" max="100" />
      </div>
    </div>
  </div>

  <div class="col-md-3 info">
    <div ng-show="audio.duration && track">
      {{ audio.currentTime | duration }}/{{ audio.duration | duration }}sec
      <span class="glyphicon glyphicon-volume-up"
            ng-click="mute()"
            ng-class="{ 'glyphicon-volume-up': audio.volume == 1, 'glyphicon-volume-off': audio.volume == 0 }"></span>
    </div>
  </div>

  <div class="col-md-1 playing">
    <button type="button" class="btn btn-default" tooltip="Playing queue"
        ng-click="openNowPlaying()" ng-class="{active: $uiRoute}" ui-route="/playing">
      <span class="glyphicon glyphicon-list"></span>
    </button>
  </div>

</div>