<div class="row">

  <div class="col-md-1 text-right btn-play">
    <button type="button" class="btn btn-primary" ng-click="playpause()">
      <span class="glyphicon" ng-class="{ 'glyphicon-play': audio.paused, 'glyphicon-pause': !audio.paused }"></span>
    </button>
  </div>

  <div class="col-md-7 now-playing">
    <span class="text-muted">{{ track.artist }}</span> {{ track.title }}
    <div class="progress">
      <progressbar value="timeProgress()" max="100" ng-click="seek($event)" />
    </div>
  </div>

  <div class="col-md-3 info">
    <div ng-show="audio.duration">
      {{ audio.currentTime | round }}/{{ audio.duration | round }}sec
      <span class="glyphicon glyphicon-volume-up"
            ng-click="mute()"
            ng-class="{ 'glyphicon-volume-up': audio.volume == 1, 'glyphicon-volume-off': audio.volume == 0 }"></span>
    </div>
  </div>

  <div class="col-md-1 playing">
    <button type="button" class="btn btn-default" ng-click="openNowPlaying()"><span class="glyphicon glyphicon-list"></span></button>
  </div>

</div>