<div class="music-library">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><span class="glyphicon glyphicon-time"></span> Latest albums</h3>
    </div>
    <div class="panel-body">
    <div class="row">
      <div class="col-sm-6 col-md-3">
        <a class="thumbnail" href="#/album/1">
          <img src="http://placehold.it/200x200" />
          <div class="caption">
            <p class="text-muted">Artist 1</p>
            <p>Album 1</p>
          </div>
        </a>
      </div>

      <div class="col-sm-6 col-md-3">
        <a class="thumbnail" href="#/album/1">
          <img src="http://placehold.it/200x200" />
          <div class="caption">
            <p class="text-muted">Artist 1</p>
            <p>Album 1</p>
          </div>
        </a>
      </div>

      <div class="col-sm-6 col-md-3">
        <a class="thumbnail" href="#/album/1">
          <img src="http://placehold.it/200x200" />
          <div class="caption">
            <p class="text-muted">Artist 1</p>
            <p>Album 1</p>
          </div>
        </a>
      </div>

      <div class="col-sm-6 col-md-3">
        <a class="thumbnail" href="#/album/1">
          <img src="http://placehold.it/200x200" />
          <div class="caption">
            <p class="text-muted">Artist 1</p>
            <p>Album 1</p>
          </div>
        </a>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6 col-md-3">
        <a class="thumbnail" href="#/album/1">
          <img src="http://placehold.it/200x200" />
          <div class="caption">
            <p class="text-muted">Artist 1</p>
            <p>Album 1</p>
          </div>
        </a>
      </div>

      <div class="col-sm-6 col-md-3">
        <a class="thumbnail" href="#/album/1">
          <img src="http://placehold.it/200x200" />
          <div class="caption">
            <p class="text-muted">Artist 1</p>
            <p>Album 1</p>
          </div>
        </a>
      </div>

      <div class="col-sm-6 col-md-3">
        <a class="thumbnail" href="#/album/1">
          <img src="http://placehold.it/200x200" />
          <div class="caption">
            <p class="text-muted">Artist 1</p>
            <p>Album 1</p>
          </div>
        </a>
      </div>
    </div>
   </div>
</div>