<div class="music-library">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#">Albums</a></li>
    <li><a href="#">Artists</a></li>
    <li><a href="#">Titles</a></li>
    <li><a href="#">Genres</a></li>
  </ul>


  <div class="row" ng-show="albums.length > 0">
    <div class="col-sm-6 col-md-3" ng-repeat="album in albums">
      <a class="thumbnail" href="#/album/{{ album.id }}">
        <img ng-src="http://placehold.it/200x200" />
        <div class="caption">
          <div style="overflow: hidden; height: 40px">
            <div class="text-muted">{{ album.artist.name }}</div>
            <div>{{ album.name }}</div>
          </div>
        </div>
      </a>
    </div>
  </div>
  
  <p ng-show="albums.length == 0" class="text-center">
    Music library empty
  </p>
</div>