<div class="music-library">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#">Albums</a></li>
    <li><a href="#">Artists</a></li>
    <li><a href="#">Titles</a></li>
    <li><a href="#">Genres</a></li>
  </ul>


  <div class="row">
    <div class="col-sm-6 col-md-3" ng-repeat="album in albums">
      <a class="thumbnail" href="#/album/{{ album.id }}">
        <img ng-src="{{ baseUrl }}/getCoverArt.view?id={{ album.coverArt }}&size=200&{{ urlParameters }}" />
        <div class="caption">
          <p style="overflow: hidden; height: 40px">{{ album.title }}</p>
        </div>
      </a>
    </div>
  </div>
</div>