<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><span class="glyphicon glyphicon-play"></span> Now playing</h3>
  </div>
  <div class="panel-body">
    <table class="table table-striped" ng-show="tracks.length > 0">
      <thead>
      <tr>
        <th></th>
        <th>Title</th>
        <th>Length</th>
        <th>Artist</th>
        <th>Album</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="track in tracks" ng-dblclick="playTrack($index)">
        <td>
          <span class="glyphicon glyphicon-signal" ng-if="$index == currentOrder"></span>
          <span class="glyphicon glyphicon-play" ng-click="playTrack($index)"></span>
          <span class="glyphicon glyphicon-minus" ng-click="removeTrack($index)"></span>
        </td>
        <td>{{ track.title }}</td>
        <td>{{ track.length | duration }}</td>
        <td>{{ track.artist.name }}</td>
        <td>{{ track.album.name }}</td>
      </tr>
      </tbody>
    </table>
    
    <p ng-show="tracks.length == 0" class="text-center">
      Playing queue empty
    </p>
  </div>
</div>
