<div class="search">
  <div class="results" ng-show="results">
    <div class="albums" ng-show="results.albums">
      <h3>Albums</h3>
    </div>

    <div class="artists" ng-show="results.artists">
      <h3>Artists</h3>
    </div>

    <div class="tracks" ng-show="results.tracks">
      <h3>Tracks</h3>
      <table class="table table-striped table-tracks">
        <thead>
        <tr>
          <th style="width: 4%;" class="col-md-1"></th>
          <th style="width: 4%;" class="col-md-1"></th>
          <th>Title</th>
          <th>Artist</th>
          <th>Album</th>
          <th style="width: 7%"><span class="glyphicon glyphicon-time"></span></th>
          <th style="width: 4%;"></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="track in results.tracks">
          <td><span class="glyphicon glyphicon-play btn-pointer" ng-click="playTrack(track)"></span></td>
          <td><span class="glyphicon glyphicon-plus btn-pointer" ng-click="addTrack(track)"></span></td>
          <td title="{{ track.title }}">{{ track.title }}</td>
          <td title="{{ track.artist.name }}">{{ track.artist.name }}</td>
          <td title="{{ track.album.name }}"><a ng-href="#/album/{{ track.album.id }}">{{ track.album.name }}</a></td>
          <td>{{ track.length | duration }}</td>
          <td>
            <span class="glyphicon btn-pointer" ng-click="toggleLikeTrack(track)"
                  ng-class="{ 'glyphicon-heart': track.liked, 'glyphicon-heart-empty': !track.liked }"></span>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>