<div class="music-library">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#">Albums</a></li>
    <li><a href="#">Artists</a></li>
    <li><a href="#">Titles</a></li>
    <li><a href="#">Genres</a></li>
  </ul>


  <div class="row">
    <div class="col-sm-6 col-md-3">
      <a class="thumbnail" href="#/album/1">
        <img src="http://placehold.it/200x200" />
        <div class="caption">
          <p class="text-muted">Artist 1</p>
          <p>Album 1</p>
        </div>
      </a>
    </div>

    <div class="col-sm-6 col-md-3">
      <a class="thumbnail" href="#/album/1">
        <img src="http://placehold.it/200x200" />
        <div class="caption">
          <p class="text-muted">Artist 1</p>
          <p>Album 1</p>
        </div>
      </a>
    </div>

    <div class="col-sm-6 col-md-3">
      <a class="thumbnail" href="#/album/1">
        <img src="http://placehold.it/200x200" />
        <div class="caption">
          <p class="text-muted">Artist 1</p>
          <p>Album 1</p>
        </div>
      </a>
    </div>

    <div class="col-sm-6 col-md-3">
      <a class="thumbnail" href="#/album/1">
        <img src="http://placehold.it/200x200" />
        <div class="caption">
          <p class="text-muted">Artist 1</p>
          <p>Album 1</p>
        </div>
      </a>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6 col-md-3">
      <a class="thumbnail" href="#/album/1">
        <img src="http://placehold.it/200x200" />
        <div class="caption">
          <p class="text-muted">Artist 1</p>
          <p>Album 1</p>
        </div>
      </a>
    </div>

    <div class="col-sm-6 col-md-3">
      <a class="thumbnail" href="#/album/1">
        <img src="http://placehold.it/200x200" />
        <div class="caption">
          <p class="text-muted">Artist 1</p>
          <p>Album 1</p>
        </div>
      </a>
    </div>

    <div class="col-sm-6 col-md-3">
      <a class="thumbnail" href="#/album/1">
        <img src="http://placehold.it/200x200" />
        <div class="caption">
          <p class="text-muted">Artist 1</p>
          <p>Album 1</p>
        </div>
      </a>
    </div>
  </div>
</div>