<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><span class="glyphicon glyphicon-play"></span> Now playing</h3>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Title</th>
        <th>Length</th>
        <th>Artist</th>
        <th>Album</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Title 1</td>
        <td>3:30</td>
        <td>Artist 1</td>
        <td>Album 1</td>
      </tr>
      <tr>
        <td>Title 2</td>
        <td>3:17</td>
        <td>Artist 1</td>
        <td>Album 1</td>
      </tr>
      <tr>
        <td><span class="glyphicon glyphicon-signal"></span> Title 3</td>
        <td>5:12</td>
        <td>Artist 1</td>
        <td>Album 1</td>
      </tr><tr>
        <td>Title 4</td>
        <td>4:15</td>
        <td>Artist 1</td>
        <td>Album 1</td>
      </tr>
      <tr>
        <td>Title 5</td>
        <td>3:45</td>
        <td>Artist 1</td>
        <td>Album 1</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
